<div id="footer">
  <p id="footer_author">Web vytvořil <a href="http://www.strajk.me" title="Strajk.me">Strajk</a></p>
  <p id="footer_copyright">©2014 Skiservis Stupava</p>
  <iframe id="footer_like" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FSkiservis-Stupava%2F158686330847299&amp;layout=button_count&amp;show_faces=true&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
</div>