<h2 class="imgReplace servis">Servis</h2>
<div class="grid">
	<div class="grid_left">
		<table class="pricelist">
			<thead>
			<tr>
				<th scope="col">&nbsp;</th>
				<th scope="col">Lyže</th>
				<th scope="col">Snb</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th class="product">Oprava skluznice</th>
				<td class="price ski">--</td>
				<td class="price board">--</td>
			</tr>
			<tr>
				<th class="product">Voskování skluznice</th>
				<td class="price ski">150Kč</td>
				<td class="price board">200Kč</td>
			</tr>
			<tr>
				<th class="product">Broušení hran</th>
				<td class="price ski">200Kč</td>
				<td class="price board">250Kč</td>
			</tr>
			<tr>
				<td>Montáž vázání <strong>*</strong></td>
				<td class="price ski">400Kč</td>
				<td class="price board">400Kč</td>
			</tr>
			</tbody>
		</table>
		<p class="vspace_micro"><strong>*</strong> Cena může být nižší, podle typu vázání. Důležité znát velikost skeletu boty, hmotnost a výkonnost jezdce.</p>
		<p class="vspace_small"><strong>Sevis na počkání nebo do druhého dne.</strong></p>
		<p class="vspace_small"><strong class="color">Poradíme si také s jinými vadami materiálu, kontaktujte nás.</strong></p>
	</div>

	<div class="grid_right featured">
		<h3 class="imgReplace velkyServis">Velký servis</h3>
		<p class="description">Broušení hran a skluznice, voskovanání, <strong>oprava skluznice</strong></p>
		<p class="price">Lyže: <big>400Kč</big> | Snowboard: <big>500Kč</big></p>
		<h3 class="imgReplace malyServis vspace_small">Malý servis</h3>
		<p class="description">Broušení hran a skluznice, voskovanání</p>
		<p class="price">Lyže: <big>300Kč</big> | Snowboard: <big>400Kč</big></p>
	</div>
</div>