<div id="sidebar_about" class="box">
	<h2>O ski servisu</h2>
	<div class="content">
		<div class="address">
			<strong>Skiservis Stupava</strong><br />Stupava 78<br />Stupava 778 77<br />
		</div>
		<p class="icon"><img src="/img/content/icon_link.png" /> <a href="/o-nas/#kdenasnajdete">Jak se k nám dostat</a></p>
		<p class="icon"><img src="/img/content/icon_link.png" /> <a href="/o-nas/#kdenasnajdete">Kontakt</a></p>
		<p class="icon"><img src="/img/content/icon_link.png" /> <a href="/o-nas/#fotogalerie">Fotky</a></p>
		<div class="contact vspace_small">
			<p><strong>E-mail:</strong> <a href="mailto:skiservis.stupava@gmail.com">skiservis.stupava@gmail.com</a></p>
			<p><strong>Telefon:</strong> 737 606 044</p>
		</div>
		<div class="vspace_small">Otevřeno denně 8.30 - 20.30<br /><small>(v pátek prodlouženo do 21.00)</small></div>
	</div>
</div>

<div id="sidebar_news" class="box">
	<h2>Novinky</h2>
	<div class="content">
		<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSkiservis-Stupava%2F158686330847299&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=934914243201537" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:258px;" allowTransparency="true"></iframe>
	</div>
</div>

<div id="sidebar_webcam" class="box">
	<h2>Webkamera</h2>
	<div class="content">
		<a target="_blank" class="buttonwebcam" href="http://www.stupava.cz/fotka.php"></a>
		<a target="_blank" class="button show" href="http://www.stupava.cz/fotka.php">Webkamera</a>
	</div>
</div>